/node_modules
/dist
/umd
/.cache
/coverage
./lib-stats.json
**/umd
*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map
**/node_modules
yarn-error.log

!packages/**/ResizeObserver.d.ts
!publishLibs.js
!packages/**/rollup.config.js
!webpack*.js
!karma.conf.js
!rollup*.js
